:root {
    --env-bg-color: #fafafa;
    --dark: #0a0c27;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

css-doodle {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.envelope {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff77;
}

.envelope-flap {
    height: 30%;
    width: 100%;
    background: var(--env-bg-color);
    box-shadow: 1px 10px var(--dark);
    transform-origin: top;
    transform: rotate(0deg);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.envelope-flap:hover {
    /* clip-path: polygon(0 100%, 50% 0%, 100% 100%); */
    transform: rotate(180deg);
}

.envelope-body {
    height: 70%;
    width: 100%;
    background: var(--env-bg-color);
}