:root {
    --dark: #0a0c27;
    --env-bg-color: #fafafa;
    --env-dark-color: #e4e4e4;
    --env-border-radius: 0 0 25px 25px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

css-doodle {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.envelope {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--env-bg-color);
    position: relative;
    box-shadow: 0 0 10px var(--env-bg-color), inset -10px -20px 500px var(--env-dark-color);
}

.envelope-flap {
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%;
    background:
        radial-gradient(ellipse at top, white 0%, transparent 100%),
        radial-gradient(ellipse at bottom, var(--env-dark-color) 0%, white 80%);
    transform-origin: top;
    clip-path: polygon(0% 0%, 50% 70%, 100% 0%);
    transition: 0.5s transform;
    transform: rotate(0deg);
}

.envelope-flap-hover {
    z-index: 0;
    transform: rotateX(180deg);
}

.envelope-body {
    z-index: 2;
    height: 100%;
    width: 100%;
    background:
        radial-gradient(ellipse at top, var(--env-dark-color) 20%, var(--env-bg-color) 50%);
    clip-path: polygon(0% 0%, 50% 50%, 50% 50%, 100% 0%, 100% 100%, 0 100%);
}

.envelope-bot-flap {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--env-bg-color);
    clip-path: polygon(0 100%, 50% 30%, 100% 100%);
}

.card {
    z-index: 1;
    position: absolute;
    height: 45vh;
    width: 45vw;
    background: purple;
    transition: 0.5s transform;
}

.card-peek {
    z-index: 1;
    transform: translateY(-100px);
}